<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  @<%= user.nickname %>
  <% if !current_user?(user) %>
    | <%= link_to "Message", messages_path(user), method: :show %>
    <% if current_user.admin?%>
      <%#管理者のみ見える %>
      | <%= link_to "delete", user, method: :delete,
                      data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
</li>
