<li id="<%= conversation.id %>">
  <span class="user">
    <% if conversation.low_user_id == current_user.id %>
      <% @sender_user = conversation.high_user%>
    <% else %>
      <% @sender_user = conversation.low_user%>
    <% end %>
    <%=  link_to @sender_user.name , message_path(@sender_user) %>
    @<%= @sender_user.nickname %>
    <% if conversation.messages.find_unread(current_user.id).present? %>
      <%=  link_to "New Message" , message_path(@sender_user) %>
    <% end %>
  </span>
  <% if conversation.messages.present? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(conversation.messages.first.created_at) %> ago.
  </span>
  <span class="content">Last Message: <%= hide_nick_name(conversation.messages.first.content) %> </span>
  <% end %>
</li>
