<li id="<%= conversation.id %>">
  <span class="user">
    <% if conversation.low_user_id == current_user.id %>
      <%=  link_to conversation.high_user.name , message_path(conversation.high_user.id) %>
      @<%= conversation.high_user.nickname %>
      <% if conversation.message.first.read == false && conversation.message.first.reciptient_id == current_user.id %>
        <%=  link_to "New Message" , message_path(conversation.high_user.id) %>
      <% end %>
    <% else %>
      <%=  link_to conversation.low_user.name  , message_path(conversation.low_user.id) %>
      @<%= conversation.low_user.nickname %>
      <% if conversation.message.first.read == false && conversation.message.first.reciptient_id == current_user.id %>
        <%=  link_to "New Message" , message_path(conversation.low_user.id) %>
      <% end %>
    <% end %>
  </span>
  <% if conversation.message.present? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(conversation.message.first.created_at) %> ago.
  </span>
  <span class="content">Last Message: <%= hide_nick_name(conversation.message.first.content) %> </span>
  <% end %>
</li>
