<li id="<%= message.id %>">
  <span class="user">
    <%= link_to message.sender_user.name, message.sender_user %>
    @<%= message.sender_user.nickname %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(message.created_at) %> ago.
  </span>
  <span class="content"> <%= hide_nick_name(message.content) %> </span>
  <span>
    <% if current_user?(message.sender_user) %>
    <%= link_to "delete", message, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: message.content %>
  <% end %>
  </span>
</li>
